@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0; 
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px 10px;
    
}

.title {
    color: rgb(255, 183, 183);
    font-family: 'Tilt Neon', cursive;
}

.header {
    background-color: black;
    border: 1px solid black;
}

.timer-box {
    font-size: 25px;
    color: white;
}

.characters {
    display: flex;
    gap: 30px;
    margin-right: 30px; 
    margin-left: 30px;
}

.character1 {
    background: url('./images/img1.jpeg');
}

.character2 {
    background: url('./images/img2.jpeg');
}

.character3 {
    background: url('./images/img3.jpeg');
}

.character1, .character2, .character3 {
    background-size: contain;
    height: 50px;
    width: 50px;
    border-radius: 20px;

}