.game {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100vw;

    position: relative;
    cursor: url(../images/target1.png), auto;
    overflow: hidden;
}

body {
    overflow: hidden;
  }

.error-message, .good-job-message{
    position: absolute;
    top: 15%;
    left: 50%;
    right: 50%;
    background-color: black;
    height: 40px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.error-message > h1 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: red; 
}

.good-job-message > h1{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

.credit{
    z-index: 100;
    background-color: black;
    width: 110px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    position: fixed;
    bottom: 0;
    right: 0;

}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    width: 140px;
    height: 50px;
    cursor: pointer;
    display: flex;
    border-style: none;
    margin-bottom: 2px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}

.menu-btn:hover {
    background-color: grey;
}


.box-img1, .box-img2, .box-img3{
    width: 40px;
    height: 40px;
    background-size: contain;
    border-radius: 20px;
}

p{
    color: white;
}